<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.greenfarm.mapper.FarmOrderMapper">

    <insert id="addFarmOrder" parameterType="FarmOrder">
        insert into t_farm_order(farm_id,customer_id,address)
        value (#{farmId},#{customerId},#{address})
    </insert>

    <update id="processFarmOrder">
        update t_farm_order
        set status = 1
        where id = #{id}
    </update>

    <select id="queryFarmOrderById" resultType="FarmOrder">
        select * from t_farm_order
    </select>

    <select id="queryFarmOrderByFarmId" resultType="FarmOrder">
        select * from t_farm_order
        where farm_id = #{farmId}
    </select>

    <select id = "queryNotProcessFarmOrderByOwnerId" resultType="FarmOrder">
        select t_farm_order.* from t_farm ,t_farm_order
        where #{farmerId} = t_farm.owner_id and t_farm.id = t_farm_order.farm_id and t_farm_order.status = 0;
    </select>

    <select id="queryProcessedFarmOrderByOwnerId" resultType="FarmOrder">
        select t_farm_order.* from t_farm ,t_farm_order
        where #{farmerId} = t_farm.owner_id and t_farm.id = t_farm_order.farm_id and t_farm_order.status = 1;
    </select>

    <select id="queryNotProcessedFarmOrderByCustomerId" resultType="FarmOrder">
        select * from t_farm_order
        where customer_id = #{customerId} and status = 0;
    </select>

    <select id="queryProcessedFarmOrderByCustomerId" resultType="FarmOrder">
        select * from t_farm_order
        where customer_id = #{customerId} and status = 1;
    </select>

    <select id="queryFarmOrderByCustomerId" resultType="FarmOrder">
        select * from t_farm_order
        where customer_id = #{customerId}
    </select>

    <select id="getCustomerId" resultType="int">
        select customer_id from t_user, t_farm_order
        where t_user.id = t_farm_order.customer_id and t_farm_order.farm_id = #{farmId}
    </select>


</mapper>