<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.greenfarm.mapper.ProductMapper">
    <insert id="addProduct">
        insert into t_product (farmer_id,category,name,description,picture_url,price)
        value (#{farmerId},#{category},#{name},#{description},#{pictureUrl},#{price})
    </insert>

    <select id="getProductLimit" resultType="Product">
        select * from t_product limit #{start}, #{len};
    </select>

    <select id="getProductByCategory" resultType="Product">
        select * from t_product where category = #{categoryId}
    </select>

    <select id="getProductByCategoryLimit" resultType="Product">
        select * from t_product where category = #{categoryId} limit #{start},#{len}
    </select>

    <select id="getProductByName" resultType="Product">
        select * from t_product where name like concat('%',#{name},'%');
    </select>

</mapper>